<div class="container" style="margin-top: 125px">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center vertical-center">
                <div class="ahorcado-img">

                </div>
                <div class="dash" ng-repeat="letra in palabraSecretaArray track by $index"></div>
                <div class="char-container">
                    <h3 class="char" ng-repeat="char in alphabet track by $index">{{char}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
