<div class="container">
    <h1 class="text-center">El ahorcado!</h1>
    <div class="row">
        <div class="col-md-12">
            <h2>Introduce la palabra secreta.</h2>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="palabraSecreta"/>
                </div>
                <button type="button" class="btn btn-default" ng-click="insertarPalabraSecreta()">Insertar</button>
            </form>
        </div>
    </div>
</div>