<div class="container">
    <h1 class="text-center main-title">El Ahorcado</h1>
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <h2 class="main-body">Introduce la palabra secreta.</h2>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="palabraSecreta"/>
                </div>
                <div class="col-md-offset-4 col-md-4">
                    <button type="button" class="wet-asphalt-flat-button" ng-click="insertarPalabraSecreta()">Insertar</button>
                </div>  
            </form>
        </div>
    </div>
</div>